/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
a{
    display: inline-block;
}
ul{
    list-style-type: none;
}

/* SECTION NAVIGATION */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.logo:hover{
    opacity: .8;
}
.logo:active{
    opacity: .6;
}
.nav_warapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    
}
.links{
    margin-left: 32px;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    color: #000;
}

.dropdawn{
    position: relative;
}
.dropdawn:hover .dropdawn__menu{
    display: block;
}
.dropdawn__menu{
    display: none;
    position: absolute;
    width: 124px;
    top: 64px;
    left: 0px;
    padding-top: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.dropdawn__menu a{
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    text-decoration: none;
    color: #000;
}

.dropdawn__menu a:hover{
    background-color: #00BAFC;
    color: #fff;
}
.dropdawn__menu a:active{
    opacity: .6;
}
.number{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 160px;
    height: 40px;
    font-weight: 700;
    font-size: 15px;
    margin-left: 24px;
    background-color: #00BAFC;
    border-radius: 5px;
    -webkit-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
}
.number a{
    text-decoration: none;
    color: #fff;
    padding: 5px 13px;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}
.number a:hover{
    color: #00BAFC;
}
.number a:active{
    color: #fff;
    
}
.number:hover{
    background-color: #fff;
    color: #00BAFC;
    border: 3px solid #00BAFC;
    font-weight: 400;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
}
.number:active{
    background-color: #00BAFC;
    opacity: 0.6;
}

/* SECTION NAVIGATION END */

/* SECTION INTRO */

.intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 136px;
}
.intro__text h1{
    font-size: 30px;
    line-height: 130%;
    width: 470px;
    margin-bottom: 16px;
}
.intro__text p{
    line-height: 24px;
    width: 465px;
    margin-bottom: 16px;
}
.xizmat__link{
    line-height: 24px;
    padding: 8px 16px;
    background-color: #00BAFC;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}
.xizmat__link:hover{
    opacity: 0.8;
}
.xizmat__link:active{
    opacity: 0.6;
}
.intro__img{
    width: 458px;
    height: 258px;
}

/* SECTION INTRO END */

/* SECTION XIZMATLAR */


.xizmatlar__text h2{
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-top: 136px;
    margin-bottom: 16px;
}
.xizmatlar__text p{
    width: 719px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

.xizmatlar__box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: center; */
    margin-top: 24px;
}
.xizmat_link{
    text-decoration: none;
    color: #000;
}

.website{
    text-decoration: none;
    padding: 24px 58.6px;
    margin-right: 70px;
    margin-bottom: 48px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}
.website:hover{
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.website:active{
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.website img{
    width: 202px;
    height: 130px;
    margin-bottom: 16px;
}
.website h3{
    font-size: 20px;
    line-height: 130%;
    text-align: center;
}
.website p{
    line-height: 24px;
    text-align: center;
}

.telegram-bot{
    padding: 24px 49px;
    margin-right: 70px;
    margin-bottom: 48px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}
.telegram-bot:hover{
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.telegram-bot:active{
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.telegram-bot img{
    width: 222px;
    height: 130px;
    margin-bottom: 16px;
}
.telegram-bot h3{
    font-size: 20px;
    line-height: 130%;
    text-align: center;
}
.telegram-bot p{
    line-height: 24px;
    text-align: center;
}

.smm{
    padding: 24px 71.6px;
    margin-bottom: 48px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}
.smm:hover{
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.smm:active{
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.smm img{
    width: 177px;
    height: 130px;
    margin-bottom: 16px;
}
.smm h3{
    font-size: 20px;
    line-height: 130%;
    text-align: center;
}
.smm p{
    line-height: 24px;
    text-align: center;
}

.design{
    padding: 24px 70.6px;
    margin-right: 70px;
    margin-bottom: 48px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}
.design:hover{
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.design:active{
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.design img{
    width: 179px;
    height: 130px;
    margin-bottom: 16px;
}
.design h3{
    font-size: 20px;
    line-height: 130%;
    text-align: center;
}
.design p{
    line-height: 24px;
    text-align: center;
}

.CRM{
    padding: 24px 75.3px;
    margin-right: 70px;
    margin-bottom: 48px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}
.CRM:hover{
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.CRM:active{
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.CRM img{
    width: 169px;
    height: 130px;
    margin-bottom: 16px;
}
.CRM h3{
    font-size: 20px;
    line-height: 130%;
    text-align: center;
}
.CRM p{
    line-height: 24px;
    text-align: center;
}

.buyurtma-link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.buyurtma{
    display: inline-block;
    text-decoration: none;
    line-height: 24px;
    font-weight: 700;
    padding: 8px 16px;
    background-color: #00BAFC;
    color: #fff;
    border-radius: 5px;
    margin-right: 16px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}
.buyurtma:hover{
    opacity: 0.8;
}
.buyurtma:active{
    opacity: 0.6;
}
.xizmatlar-sahifasi{
    color: #00BAFC;
}
/* SECTION XIZMATLAR END */

/* SECTION ABOUT US */

.about-us__sarlovha h2{
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-top: 112px;
    margin-bottom: 16px;
}
.about-us__sarlovha p{
    width: 719px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

.talablar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 55px;
}
.talablar:nth-child(odd){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.talablar__text{
    margin-left: 32px;
    margin-right: 32px;
}

.talablar__text h3{
    font-size: 20px;
    line-height: 130%;
}
.talablar__text p{
    width: 493px;
    line-height: 24px;
}
.center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 55px;
}

/* SECTION ABOUT US END */

/* SECTION FORM */

.form__text{
    text-align: center;
    color: #FFFFFF;
}
.form__text h2{
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 16px;
}
.form__text p{
    width: 719px;
    line-height: 24px;
    margin-bottom: 24px;
}
.form{
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 543px;
    background-color: #00BAFC;
}
.form__intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 348px;
    height: 304px;
    background: #FFFFFF;
    border-radius: 5px;
}
.info-name{
    padding: 16px 122px 16px 16px;
    border: none;
    border-radius: 5px;
    background-color: #F3F3F3;
    margin-bottom: 16px;
    line-height: 150%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
            appearance: none;
}
select{
    padding: 16px;
    width: 305px;
    line-height: 150%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

button{
    padding: 8px 16px;
    width: 167px;
    background-color: #00BAFC;
    color: #fff;
    border-radius: 5px;
    border: none;  
    -webkit-transition: 0.3s ease all;  
    -o-transition: 0.3s ease all;  
    transition: 0.3s ease all;
}
button:hover{
    opacity: .8;
}
button:active{
    opacity: .6;
}

/* SECTION FORM END */

footer{
    background-color: #000;
    color: #fff;
}
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding-top: 56px;
    padding-bottom: 56px;
}
.copyrigh{
    margin-right: 100px;
}
.copyrigh h3{
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 16px;
}
.copyrigh p{
    width: 320px;
    line-height: 150%;
}
.sahifalar{
    margin-right: 87px;
}
.sahifalar a:hover{
    color: #00BAFC;
}
.sahifalar a:active{
    opacity: 0.6;  
}
.sahifalar h3{
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 16px;
}
.sahifalar a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}
.biz a:hover{
    color: #00BAFC;
}
.biz a:active{
    opacity: 0.6;  
}
.biz h3{
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 16px;
}
.biz a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}
.telegram::before{
    position: relative;
    top: 5px;
    content: url(../img/telegram.svg);
    margin-right: 8px;
}
.facebook::before{
    position: relative;
    top: 5px;
    content: url(../img/facebook.svg);
    margin-right: 8px;
}
.instagram::before{
    position: relative;
    top: 5px;
    content: url(../img/instagram.svg);
    margin-right: 8px;
}